.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 48px;
    inset: 0;
}
.deleteSugarRecord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background);
    border-radius: 20px;
    padding: 20px;
    max-width: 90%;
    max-height: 90vh;
    box-sizing: border-box;
    cursor: default;
}
.dayLog {
    background-color: var(--secondary-background);
    padding: 0;
    border-radius: 20px;
    min-width: 550px;
    width: 100%;
    border-spacing: 0;
    text-align: center;
    vertical-align: baseline;
    border: 1px solid var(--border-color);
    margin-top: 15px;
}
.dayLog th {
    padding: 8px 5px;
    vertical-align: middle;
}
.dayLog td {
    vertical-align: middle;
    padding: 8px 5px;
    border-top: 1px solid var(--border-color);
}
.tableWrapper {
    overflow-x: auto;
    width: 100%;
}
.buttons {
    display: flex;
    margin-top: 10px;
    gap: 20px
}
.button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-element-background);
    color: #ffffff;
    padding: 10px;
    font-size: var(--second-medium-text);
    border: 1px solid var(--border-color);
}
.button:first-child {
    background-color: var(--success);
}
.button:last-child {
    background-color: var(--danger);
}