.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.successBlock {
    z-index: 1001;
    position: fixed;
    top: 5%;
    background-color: var(--second-success-bg);
    border-radius: 20px;
    padding: 10px;
    max-width: 80%;
}
.successBlock span {
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word; 
    border-radius: 20px;
    color: #000000;
}