.sugarForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: var(--medium-text);
    background-color: var(--secondary-background);
    color: var(--text-secondary);
    border-radius: 20px;
    padding: 10px;
    gap: 10px
}
.sugarSmallForm {
    display: flex;
    flex-direction: column;
}
.sugarSmallForm .foodSelectContainer,
.sugarSmallForm .foodInputContainer{
    display: flex;
    flex-direction: column;
}
.dateInputContainer,
.timeInputContainer,
.sugarInputContainer {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    gap: 10px
}
.timeInputContainer {
    grid-column: 1/2;
    grid-row: 1;
}
.dateInputContainer {
    grid-column: 2/3;
    grid-row: 1;
}
.sugarForm input,
.sugarForm textarea {
    box-sizing: border-box;
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--paper-soft);
    border: 1px solid var(--border-color);
    width: 100%;
    font-size: var(--second-medium-text);
}
.foodSelect {
    width: 100%;
    font-size: var(--second-medium-text);
    padding: 0;
}
.insulinInputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-row: 3;
}
.XEBEInputContainer {
    display: flex;
    flex-direction: column;
    grid-row: 3;
    grid-column: 2;
    gap: 10px
}
.notesInputContainer {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
}
.addEntryContainer {
    grid-column: 1/3;
}
.foodSelectContainer {
    display: flex;
    flex-direction: row;
    grid-column: 1/3;
    gap: 10px;
}
.foodInputContainer {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    grid-column: 1/3;
}
.activityContainer {
    display: grid;
    grid-column: 1/3;
    flex-direction: row;
    gap: 10px;
}
.activityPatterns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.activityCheckbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.activityCheckbox {
    display: flex;
    align-items: center;
    background-color: var(--paper-soft);
    border: 1px solid var(--border-color);
    color: #000000;
    padding: 10px;
    gap: 5px;
    border-radius: 20px;
    cursor: pointer;
}
.activityCheckbox:has(input:checked) {
    background-color: var(--primary-element-background);
}
.addEntry {
    cursor: pointer;
    grid-column: 1/3;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-element-background);
    color: #ffffff;
    padding: 5px;
    font-size: var(--second-medium-text);
    border: 1px solid var(--border-color)
}