.dairyActiveElements {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.dairyAddEntry {
    border: none;
    border-radius: 20px;
    background-color: var(--secondary-background);
    padding: 10px;
    height: 100%;
    font-size: var(--medium-text);
    cursor: pointer;
}
@media (max-width: 890px) {
    .dairyActiveElements {
        flex-direction: column;
        gap: 20px;
    }
}
