.homePage {
    gap: 30px;
}
.welcomeSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.welcomeSection h3 {
    color: var(--text-secondary)
}
.infoSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
    row-gap: 20px;
    column-gap: 40px;
}
.infoContainer {
    background-color: var(--secondary-background);
    color: var(--text-secondary);
    border-radius: 20px;
    padding: 10px;
}
.stats {
    font-size: var(--h1);
    color: var(--text-primary);
    margin-right: 20px
}