.profileSection {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 20px;
    margin-top: 15px;
    align-items: flex-start;
}
@media (max-width: 1000px) {
    .profileSection {
        grid-template-columns: 1fr;
    }
}