:root {
    --primary-background: #E1E3E5;
    --secondary-background: #FDFDFD;

    --primary-element-background: #1B6BB8;
    --secondary-element-background: #013567;
    --third-element-background: #E4EDF6;

    --paper-soft: #F3F4F5;

    --accent: #CFB093;

    --text-primary: #013567;
    --text-secondary: #6B7280;
    --text-muted: #9CA3AF;
    --text-link: #d2d4d8;

    --border-color: #dde8ed;

    --low: #7C3AED;
    --low-bg: #F0E9FF;

    --success: #2E8B57;
    --success-bg: #E8F5EE;

    --warning: #F59E0B;
    --warning-bg: #FFF5E3;

    --danger: #E74C3C;
    --danger-bg: #FDECEA;
}