:root {
    --primary-background: #E1E3E5;
    --secondary-background: #FDFDFD;

    --primary-element-background: #1B6BB8;
    --secondary-element-background: #013567;

    --paper-soft: #F3F4F5;

    --accent: #CFB093;

    --text-primary: #013567;
    --text-secondary: #6B7280;
    --text-muted: #9CA3AF;

    --border-color: #dde8ed;

    --success: #2E8B57;
    --warning: #F59E0B;
    --danger: #E74C3C;
}