@import url('printery.css');
@import url('color.css');
@import url('tag-style.css');
@import url('vendor.css');

.main {
    display: grid;
    grid-template-columns:1fr;
}
section {
    padding: 40px;
    min-width: 0;
    margin-left: 60px;
}
.disable-scroll {
    overflow: hidden;
}
@media (max-width: 1024px) {
    section {
        padding: 15px;
    }
}