.navigationMenu {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-element-background);
    gap: 20px;
    padding: 20px;
    height: max(100vh - 40px, 100%);
}
.navigationItem {
    color: var(--text-link);
    display: grid;
    grid-template-columns: 24px 1fr auto;
    gap: 10px
}
.navigationItem span {
    color: var(--text-muted);
}